.container {
  max-width: 500px;
  min-height: 100vh;
  border-radius: 10px;
  margin: 20px auto;
  padding: 40px;
  background-color: rgb(225, 235, 243);
}

.title {
  font-size: 36px;
  padding: 20px 0;
  text-align: center;
}

.contacts__title {
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}
