.container {
  max-width: 500px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 30px 40px;
  background: -webkit-linear-gradient(
    180deg,
    #28348a,
    #01b4ee,
    #28348a,
    #01b4ee
  );
  background: linear-gradient(180deg, #28348a, #01b4ee, #28348a, #01b4ee);
  box-shadow: 4px 4px 4px #4f4f4f;
}

.title {
  color: #eceef8;
  font-size: 46px;
  padding: 20px 0;
  text-align: center;
}

.contacts__title {
  color: #eceef8;
  font-size: 36px;
  padding: 20px 0;
  text-align: center;
}
